@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sixtyfour&display=swap');

:root{
    --color-primario: #B82132;
    --color-secundario: #D2665A;
    --color-teciario: #F2B28C;
    --color-hover: #F6DED8;
    --fuente-montserrat: Montserrat;
    --fuente-krona: krona One;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    box-sizing: border-box;
    color: #F6F6F6;
    /* overflow: hidden; */
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 5%;
    justify-content: space-between;
    gap: 84px;
}

.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-family: var(--fuente-krona);
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 56px;
}

.header{
    padding: 2% 0 0 5%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    text-decoration: none;
    color: var(--color-teciario);
    font-size: 1.5rem;
}
.titulo_destacado{
    color: var(--color-teciario);
}

.presentacion__contenido__texto{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlaces__link{
    width: 50%;
    font-family: var(--fuente-montserrat);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    color: var(--color-secundario);
    text-decoration: none;
    padding: 16px;
    border-radius: 8px;
    border: 2px solid var(--color-teciario);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion__imagen{
    width: 50%;
}

/* .presentacion__contenido__texto:hover{
    transition: 2s ease-in;
    border: 2px solid #22D4FD;
    border-radius: 8px;
    
} */

.presentacion__imagen{
    align-self: flex-start;
    width: 50%;
}
.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    align-items: center;
    font-weight: 400;
    line-height: 40px;
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color-teciario);
}

.footer{
    background-color: var(--color-teciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    justify-content: center;
    font-family: var(--fuente-montserrat);
    font-weight: 400;
}

@media (max-width:1200px) {
    .header{
        padding: 10%;
    }
    .header__menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
    }
    .presentacion__imagen{
        align-self: center;
    }
    .presentacion__contenido{
        width: auto;
    }
    .header{
        width: auto;
    }
}